<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
    <link rel="stylesheet" href="/css/bar.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/w3.css">

    <style>
        body {
            font-size: 16px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
            Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
            align-items: center;
            /*background: url("/img/wallpaper.jpg");*/
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: grid;
            height: 100vh;
            place-items: center;
        }
    </style>

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" >
    <div>
        <div class="row">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Blog Website</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav main-nav navbar-right ">
                    <li><a class="navactive color_animation" href="/">HOME</a></li>
                    <li><a class="color_animation" href="/login">SIGN IN</a></li>
                    <li><a class="color_animation" href="/register">SIGN UP</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<div class="w3-content" style="max-width:1600px" id="home">
    <!-- Image header -->
    <header class="w3-display-container" style="margin-bottom: 50px">
        <img src="/img/wallpaper.jpg" alt="Photo by Jamie Street" width="100%" height="625">
        <div class="w3-display-left w3-padding-large" style="margin-left: 30px">
            <h1 class="w3-text-white">Blog Website</h1>
            <h1 class="w3-jumbo w3-text-white w3-hide-small" style="margin-bottom: 20px">CREAT YOUR OWN BLOG</h1>
            <button class="w3-button w3-round w3-pale-green w3-padding-large w3-large w3-hover-opacity-off">
                <a href="/login">START NOW</a>
            </button>
        </div>
    </header>

<div style="margin-left: 150px; margin-right: 150px">
    <div class="w3-white">
        <div class="w3-container">
            <div class="w3-center w3-padding-32">
                <h2 class="w3-wide" style="font-weight: bold; font-size: 45px;">ABOUT</h2>
                <p class="w3-opacity" style="font-size: 20px;"><i>Blog with the best</i></p><br>
                <p class="w3-left-align w3-white w3-text-gray">
                    Publish your passions your way. Whether you'd like to share your knowledge,
                    experiences or the latest news, create a unique and beautiful blog. More bloggers
                    and independent creators choose Blog Website than any other blogging tool. Tap into
                    intuitive, flexible tools that put writers, bloggers, and creators first. Whatever
                    you’re publishing. Whoever your audience is. Blog Website makes it simple to get started.
                    And easy to expand your site as your audience grows.
                </p>
            </div>
        </div>
    </div>


    <div class="w3-row-padding" style="margin-bottom: 100px">
        <div class="w3-center w3-padding-32">
            <h2 class="w3-wide w3-center" style="font-weight: bold; font-size: 45px;">CONTRIBUTE</h2>
            <p class="w3-opacity w3-center" style="font-size: 20px;"><i>About the authors</i></p><br>
        </div>

        <div class="w3-third w3-margin-bottom">
            <div class="w3-card-4">
                <img src="/img/hoat.png" alt="Photo by Sam manns" style="width:100%; height: 230px">
                <div class="w3-container" style="margin-top: 10px">
                    <h3>Bùi Minh Hoạt</h3>
                    <p class="w3-opacity">MSSV-21020326</p>
                    <p>Contribute to the process of building and developing the website.</p>
                </div>
            </div>
        </div>

        <div class="w3-third w3-margin-bottom">
            <div class="w3-card-4">
                <img src="/img/dzung.jpg" alt="Photo by Manuel Meza" style="width:100%; height: 230px">
                <div class="w3-container" style="margin-top: 10px">
                    <h3>Nguyễn Tiến Dũng</h3>
                    <p class="w3-opacity">MSSV-21020057</p>
                    <p>Contribute to the process of building and developing the website.</p>
                </div>
            </div>
        </div>

        <div class="w3-third w3-margin-bottom">
            <div class="w3-card-4">
                <img src="/img/khanh.png" alt="Photo by Wieger Stienstra" style="width:100%; height: 230px">
                <div class="w3-container" style="margin-top: 10px">
                    <h3>Nguyễn Châu Khanh</h3>
                    <p class="w3-opacity">MSSV-21020019</p>
                    <p>Contribute to the process of building and developing the website.</p>
                </div>
            </div>
        </div>
    </div>

</div>
    <!-- Footer. This section contains an ad for W3Schools Spaces. You can leave it to support us. -->
    <footer class="w3-container w3-pale-green w3-center w3-margin-top">
        <p style="margin-top: 20px">Thank you for coming to Blog Website.</p>
        <p class="w3-small">This website was made with HDK Team. Make your own free blog today!</p>
        <a class="w3-button w3-round-xxlarge w3-small w3-white w3-margin-bottom" href="#home">Go Top</a>
        <!-- End footer -->
    </footer>
</div>

</body>
</html>